<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="chat">
<input type="text" class="chat-name" name="chat-name" placeholder="Enter your name">
    <div class="chat-messages" name="chat-messages">
    </div>
    <textarea placeholder="Enter your message" ></textarea>
  <script src="http://127.0.0.1:8080/socket.io/socket.io.js."></script>
    <script >
        (function(){
            var getNode= function(s){
                    return document.querySelector(s)
                },
                textarea = getNode('.chat textarea'),
                chatName = getNode('.chat-name'),
                messages= getNode('.chat-messages');
            try{
                var socket = io.connect('http://127.0.0.1:8080')
            }catch (e){
            }
            if (socket !==undefined){
                    socket.on('output',function (data) {
                        console.log(data);
                        if(data.length){
                            for (var x =0; x<data.length; x=x+1){
                                var message= document.createElement('div');
                                message.setAttribute('class','chat-message');
                                message.textContent=data[x].name + ' : '+data[x].message ;
                                messages.appendChild(message);
                                messages.insertBefore(message,messages.firstChild);
                            }
                        }
                    });
                console.log('ok');
                textarea.addEventListener('keydown',function (event) {
                    console.log("fff")
                    var self= this,
                        name = chatName.value;
                    console.log(event.which)
                        if(event.which===13 && event.shiftKey===false){
                            console.log("zzzzzzzzzzz")
                            socket.emit('input',{
                                name:name,
                                message:self.value
                            });
                            event.preventDefault();

                        }
                });

            }
        })();
    </script>

</div>
</body>

</html>